travel-plan-web-next/db_railway_stats/*.parquet filter=lfs diff=lfs merge=lfs -text
travel-plan-web-next/db_railway_stats_slim/*.parquet filter=lfs diff=lfs merge=lfs -text
travel-plan-web-next/*-railway-timetable/** filter=lfs diff=lfs merge=lfs -text
